<!--Esto reemplaza todo lo del header/footer que hay en cada pagina. Dentro de {} podemos escribir los distintos elementos-->
<%- include("header", {}) %> 
<h1><%= title%></h1>
<p>Welcome to footer!</p>
<%- include("footer", {}) %> 