<!--Esto reemplaza todo lo del header/footer que hay en cada pagina. Dentro de {} podemos escribir los distintos elementos
<%- include("header", {}) %> 
<h1><%= title%></h1>
<p>Welcome to footer!</p>
<%- include("footer", {}) %> -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"/>
    <script src=""></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <!--OJO! orden en el HEAD de las librerías tiene que ser SIEMPRE el último mi css, ya que se ejecuta en orden-->
  <!--Si quisieramos una navbar que sea común para todo pues lo metería aquí tb-->