<!DOCTYPE html>
<html>
  <%- include("header", {title:'Pagina inicial'}) %> 
  <body>
    <h1>Página inicial</h1>
    <p>Bienvenido a la página inicial.</p>
    <h2>Fotos:</h2>
    <div class="image-container">
      <ul>
        <% elements.forEach(function(element) { %>
          <img src="<%= element %>" alt="Elemento" class="image-item">
        <% }); %>
      </ul>
    </div>    
    <p>Para logearte, haga click en el siguiente botón:</p>
    <button onclick="location.href='/login'">Iniciar sesión</button>
  </body>
</html>

<!--1º creo las 3 html (ejs), después creo las rutas para cada una, y por último el app.js que lo meto ahí-->